:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding: 0;
  background-color:#000;
  color:#fff;
}

#app{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif;
    text-rendering: optimizeLegibility;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* Adjust the height as needed */
}

div.page {
  background-color: #fafafa;
  padding: 0.5rem;
  margin: 0.5rem;
}

.portrait {
  width: 48rem;
}

.landscape{
  width: 72rem;
}


/* Create the topbar */
.topbar {
  width: 48rem;
  background: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.25rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);; /* Adjust the background color as needed */
  z-index: 999; /* Ensure the topbar is above other elements */
}

/* Create the container for the scrollable divs */
.container {
  width: 100%;
  margin-top: 5rem; /* Adjust the margin-top to leave space for the topbar */
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Allow the container to grow and fill the remaining space */
}


/* DROPDOWN MENU */

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #446;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 0.125rem;
}

button {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 8rem;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
  background-color: #446;
  color: #fff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  outline: none;
  margin: 0.5rem;
  transition: 0.2s ease-in;
}

.option {
  margin: 0.125rem;
}

button.sel {
  outline: 0.125rem solid #fff;
  background-color: #6af;
  color: #000;
}

button:hover {
  transition: 0.2s ease-in;
  background-color: #6af;
  color: #000;
  outline: 0.125rem solid #fff;
}

button:active {
  transition: 0s;
  background-color: #000;
  color: #fff;
}

/*

.k2 {
  background-color: #ff6;
}

.t5 {
  background-color: #ff6;
}

button.schedule {
  background-color: #46f;
}

button.print {
  background-color: #f44;
}*/