:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding: 0;
  background-color:#000;
  color:#fff;
}

#app{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif;
    text-rendering: optimizeLegibility;
    display:flex;
    flex-flow: row;
    justify-content: center;
    overflow-y:auto;
    height: 100vh;
} 

.topbar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-top: 0.5rem;
}

#displayArea {
    width: 48rem;
    direction: ltr;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 1.25rem;
    background: #fafafa;
    color: #000;
}

.dropdown {
  position: relative;
  width: 12rem;
}

.dropdown-button {
  width: 100%;
  background-color: #446;
  color: #fff;
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #446;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 0.125rem;
}

.option-button {
  display: block;
  width: calc(100% - 0.25rem);
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  outline: none;
  margin: 0.125rem;
}

.btn {
  transition: 0.1s ease-in;
}

.btn.sel {
  outline: 0.125rem solid #fff;
  background-color: #6af;
  color: #000;
}

.btn:hover {
  transition: 0.2s ease-in;
  background-color: #6af;
  color: #000;
  outline: 0.125rem solid #fff;
}

.btn:active {
  transition: 0s;
  background-color: #000;
  color: #fff;
}
