:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding: 0;
  background-color:#000;
  color:#fff;
}

#app{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif;
    text-rendering: optimizeLegibility;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    height: 100%;
    width: 100%;
}


.topbar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-top: 0.5rem;
}

div.schedule {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 1.25rem;
    background: #fafafa;
    color: #000;
}

.portrait {
  width: 48rem;
}

.landscape{
  width: 72rem;
  background-color: #fafafa;
  padding: 0.5rem;
}

.dropdown {
  position: relative;
  width: 12rem;
}

.dropdown-button {
  width: 100%;
  background-color: #446;
  color: #fff;
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #446;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 0.125rem;
}

.fix-position{
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
}

.option-button {
  display: block;
  width: calc(100% - 0.25rem);
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  outline: none;
  margin: 0.125rem;
}

.btn {
  transition: 0.1s ease-in;
}

.btn.sel {
  outline: 0.125rem solid #fff;
  background-color: #6af;
  color: #000;
}

.btn:hover {
  transition: 0.2s ease-in;
  background-color: #6af;
  color: #000;
  outline: 0.125rem solid #fff;
}

.btn:active {
  transition: 0s;
  background-color: #000;
  color: #fff;
}

.nav {
  text-align: center;
  font-weight: bold;
  border: 2px solid #446;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 20rem;
  transition: 1s ease-in;
  margin: 1rem;
  height: initial;
}

.navsub {
  margin: 0.5rem;
  font-weight: normal;
}

.nav-button {
  display: block;
  font-weight: bold;
  width: 16rem;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
  color: #000;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  margin: 0.5rem;
  transition: 0.2s ease-in;
}

.nav-button.sel {
  outline: 0.125rem solid #fff;
  width: 16rem;
}

.nav-button:hover {
  filter: brightness(120%);
  outline: 0.125rem solid #fff;
  filter:grayscale(0%);
}

button.nav-button:active {
  transition: 0s;
  background-color: #000;
  color: #fff;
}

.nav-button.k2 {
  background-color: #af6;
}

.nav-button.t5 {
  background-color: #c6f;
}

.nav-button.teach {
  background-color: #ff6;
}

.nav-button.lead {
  background-color: #46f;
}

.nav-button.full {
  background-color: #f44;
}