/*Mobile view*/
@media screen and (max-width: 50rem) {
    .desktop {display:none}

    #app{
        flex-flow: column;
    }

    .scrollLeft {
        height:auto;
        width: 100%;
    }

    #sidebar {
        width: 100%
    }

}

/* Tablet view */
@media screen and (min-width: 50rem) and (max-width: 73rem) {
    
    #app{
        align-content: left;
    }

    #sidebar {
        height: 100vh;
        align-content: center;
    }
}

  /*Desktop view*/
@media screen and (min-width: 73rem) {
    
    .mobile {display:none}

    #sidebar {
        height: 100vh;
        align-content: center;
    }

}


@media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .topbar {
      display: none;
    }
  
    #app,
    body,
    div.page {
        width: 100%;
      background: none;
    }

    #app {height: auto}
  
    div.page {
        margin: 0;
        padding:0;
      page-break-after: always;
      page-break-inside: avoid; /* Added property */
    }

    table.schedule td {
      line-height: 14pt;
      font-size: 12pt;
      padding: 2px;
    }
  

  }
  