/*Mobile view*/
@media screen and (max-width: 50rem) {
    .desktop {display:none}

  .page.portrait {width: 100%}
  .topbar {width: 100%}

  button {
    padding: 2px 1px;
  }

  td {
    border: 1px solid #fff; 
    vertical-align: middle;
    font-size: 0.75rem;
    line-height: 0.9rem;
    padding: 1px;
    text-align: center;
}

td.n {
    width: 1.5rem;
    text-align: left;
    font-size: 0.625rem;
}

td.station {
    width: 7rem;
    padding-left: 2px;
    text-align: left;
}

td.lunch {
    font-weight: bold;
    padding: 4px;
}

td.time {
    width: 4rem
}

.option {
  font-size: 0.75rem;
  line-height: 0.8rem;
  margin: 1px;
  
  width:calc(100% - 2px);
}
.dropdown .dropdown-menu {
  padding: 2px;
  right: 0;
  left: auto;
}

.column.teachers {width: 5rem}
.column.stations {width: 9rem}

}


@media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .topbar {
      display: none;
    }
  
    #app,
    body,
    div.page {
        width: 100%;
      background: none;
    }

    #app {height: auto}
  
    div.page {
        margin: 0;
        padding:0;
      page-break-after: always;
      page-break-inside: avoid; /* Added property */
    }

    table.schedule td {
      line-height: 14pt;
      font-size: 12pt;
      padding: 2px;
    }
  /*
    .landscape {
        transform: rotate(90deg);
        transform-origin: top left;
        width: 100vh;
        height: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        page-break-after: always;
      }*/

  }
  