.title {
    margin-bottom: 1rem;
    font-weight: bold;
}

table.schedule{
    border-collapse: collapse; 
    width: 100%;
    margin:0;
    color:black;
}

table.schedule thead, tbody {
    transition: background-color 0.5s ease-in-out;
}

table.schedule thead {
    font-weight: bold;
}

table.schedule>tbody>tr:nth-child(odd){background-color: #fafafa;}

td {
    border: 0.0625rem solid #fff; 
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.0625rem 0.25rem;
    text-align: center;
}

td.n {
    width: 2.25rem;
    text-align: left;
    font-size: 0.875rem;
}

td.station {
    width: 10rem;
    padding-left: 0.25rem;
    text-align: left;
}

td.lunch {
    font-weight: bold;
    padding: 0.5rem;
}

td.time {
    width: 6.125rem
}


.full.schedule td {
    font-stretch: semi-condensed;
    font-size: 0.625rem;
}

.full.schedule td.time {
    width: 2.5rem;
    font-stretch: semi-condensed;
    font-size: 0.75rem;
}
