button.palette {
    outline: 0.125rem solid #000;
    border: 0.125rem solid currentColor;
    height: 2rem;
    width: 2rem;
    margin: 0.1875rem;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    transition: 0.1s ease-in;
}

button.palette.swim {
    border-color: #fff;
    color:#000;
}

button.palette:hover{
    outline-color: #888;
    border-color: #000; 
}

button.palette:active{
    outline-color: #000;
    border-color: currentColor;
    filter: brightness(50%);
    transition: 0s;
}

button.palette.swim:active {
    border-color: #fff;
    color:#000;
}

button.palette.sel{
    outline-color: #fff;
    border-color: #000; 
    transition: 0.25s ease-in;
}

div.b{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.0625rem solid #223;
    margin: 0.5rem 0;
    width: 20rem;
}

div.palette{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.3rem;
    padding:0;
    margin-left: 0;
    width: 19rem;
}

div.slider {
    z-index: 1;
    display: flex;
    flex-flow: nowrap;
    width: 52rem;;
    overflow-x: scroll;
    height: 100vh;
    border: 1px solid yellow;
}

div.slides {
    z-index: 0;
    display: flex;
    flex-flow: row nowrap;
    transition: transform 1s cubic-bezier(0.38, -0.29, 0.46, 1.39);
    border: 1px solid red;
}

div.slides.list {
    transform: translate(-50rem);
}
div.slides.sched {
    transform: translate(-100rem);
}

div.slide {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 50rem;
    border: 1px solid blue;
}

div.back {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100vh;
    border:1px solid purple;
}